<div>

    <ul>
        <li v-for="city in cities" @click="goToCity(city.woeid)">
            <span>{{city.title}}</span>

            <div v-if="city.weather">
                <div v-if="city.weather.astronomy">
                    <span>Sunrise: {{city.weather.astronomy.sunrise}}</span>
                    <span>Sunset: {{city.weather.astronomy.sunset}}</span>
                </div>
                <div v-if="city.weather.item">
                    <span>{{city.weather.item.forecast[0].date}} (Today):</span>
                    <span>{{city.weather.item.forecast[0].low}}ºC / {{city.weather.item.forecast[0].high}}ºC</span>
                    <div>
                        <i :class="['wi', getWeatherIconClass(city.weather.item.forecast[0].code)]"></i>
                        <span>{{city.weather.item.forecast[0].text}}</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>